<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>WebApp0702</display-name>

	<listener>
		<listener-class>com.and.commons.MyListener</listener-class>
	</listener>

	<!-- 필터 -->
	<filter>
		<filter-name>testFilter</filter-name>
		<filter-class>com.and.commons.MyFilter</filter-class>
		<init-param>
			<param-name>msg</param-name>
			<param-value>귀요미필터</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>testFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<!-- 컨트롤러 등록! -->
	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>com.and.controller.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/mapping.data</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	
	
	

</web-app>









