<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>	
	<typeAlias type="com.and.model.notice.Notice" alias="Notice"/>
</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="JNDI">
        <property name="data_source" value="java:comp/env/jdbc/oracle"/>
        
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <!-- <mapper resource="com/the/mybatis/BoardMapper.xml"/>  -->
    <mapper resource="com/and/mybatis/NoticeMapper.xml"/>
  </mappers>
</configuration>